@import "responsive";

.article-page {
  background-color: $bg-color-inverted-articlepage;
  color: $font-color-inverted-articlepage;
  padding: 1rem;
  .article-cotainer {
    .articletop {
      margin: 10px 300px;
      @include respond-to("small") {
        margin: 10px 0px;
      }
    }
  }
  @include respond-to("mobile") {
    padding: 0px;
  }
  .desc {
    margin-bottom: 0px;
  }
  .datetime-editbtn-container {
    display: flex;
    a {
      margin: auto;
      margin-right: 0;
      margin-bottom: 0;
      .editbtn {
        float: right;
        margin-bottom: 0px;
        @include respond-to("small") {
          border-radius: 5px;
        }
      }
    }
  }

  .blog_img_cover {
    position: relative;
    min-height: 200px;
    transition: 1s;
  }
  img {
    width: 59%;
    margin-top: 20px;
    border-radius: 10px;
    border: 0px;
    margin-left: auto;
    display: flex;
    margin-right: auto;

    @include respond-to("small") {
      margin-top: 8px;
      width: 100%;
      border-radius: 0px;
    }
    .edit-list {
      width: 25%;
      padding: 0.2rem;
      margin: 1rem;
      margin-left: 1rem;
      border: 1px solid white;
      margin-left: 0;
    }
  }
  .font-social {
    display: flex;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 0fr);
    gap: 20px;
    margin: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: 75px;
    margin-top: 30px;
    @include respond-to("small") {
      margin-right: 10px;
      gap: 15px;
    }
    a {
      color: black;

      font-size: 15px;
    }
  }
  .heading-main {
    font-size: 44px;
    text-align: left;
    font-weight: 500;
    line-height: 1.3;
    margin: 10px 300px;
    width: 800px;
    margin: auto;
    @include respond-to("small") {
      font-size: 30px;
      margin-left: 20px;
      margin-right: 24px;
      margin-top: 10px;
      width: auto;
    }
  }
  .datetime {
    border-radius: 0px;
    margin-left: 0px;
    box-shadow: rgba(100, 100, 111, 0.2);
    border: 1px solid #d7d7d7;
    color: black;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 0;
    margin-top: 28px;
    padding: 3px 10px;
    width: fit-content;
    @include respond-to("small") {
      font-size: 12px;
      margin-top: 19px;

      padding: 1px 13px;
      width: -moz-fit-content;
      width: fit-content;

      margin-left: 20px;
    }
  }
  h1.section {
    margin: 57px 0px 9px 6px;

    font-size: 19px;
    color: $font-color-section-name;
    border-bottom: 3px solid $font-color-section-name-bottom-border;
    padding-bottom: 5px;
    width: fit-content;
    @include respond-to("small") {
      margin: 29px 0px 0px 19px;
      font-size: 20px;
    }
  }
  .authorname {
    margin-left: 198px;
    font-size: 24px;
    @include respond-to("small") {
      margin: 20px 0px 0px 15px;
      font-size: 20px;
    }
  }
  .article-para {
    font-size: 20px;
    text-align: left;
    font-family: "Kavinlight";
    margin-top: 33px;
    font-weight: 200;
    margin: 5px 200px;
    p {
      margin-top: 10px;
    }
    @include respond-to("small") {
      font-size: 19px;
      text-align: left;
      margin-top: 0px;
      margin-left: 15px;
      font-weight: 200;
      margin-right: auto;
    }
  }
}
