@mixin respond-to($breakpoint) {
  @if $breakpoint == "exsmall" {
    @media (max-width: 1800px) {
      @content;
    }
  }
  @if $breakpoint == "medium" {
    @media (min-width: 400px) and (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == "header-mobile" {
    @media (min-width: 998px) and (max-width: 1198px) {
      @content;
    }
  }
  @if $breakpoint == "mobile" {
    @media (min-width: 330px) and (max-width: 502px) {
      @content;
    }
  }
  @if $breakpoint == "small" {
    @media (min-width: 330px) and (max-width: 992px) {
      @content;
    }
  }
  @if $breakpoint == "blog-item-medium" {
    @media (min-width: 600px) and (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == "blog-item-small" {
    @media (min-width: 200px) and (max-width: 599px) {
      @content;
    }
  }
}
$body-bg-color: black;
$bg-color: white;
$bg-color-hover: white;
$bg-color-inverted: black; //banner bg color
$bg-color-inverted-articlepage: white; //article page bg color
$loading-screen-background: linear-gradient(
  90deg,
  #272727 25%,
  #383838 50%,
  rgb(12, 12, 12) 75%
);

$font-color: #4a4a4a;

$font-color-section-name: #cf0000;
$font-color-section-name-bottom-border: #cf0000;
$font-color-inverted: white;
$font-color-inverted-articlepage: black;
$font-color-hover: black;
$border-color: rgb(202, 202, 202);
$font-color-light: #4a4a4a;
$loader-spinner-border: rgb(96, 96, 96);
$font-size: 16px;
// $bg-color: black;
// $font-color: white;
// $font-color-light: #4a4a4a;
// $loader-spinner-border: white;
// $font-size: 16px;
